## File Managed by Ansible ##
!
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog
!
{% if bgp_fabric is defined %}
{% if bgp_fabric.neighbor is defined %}
{% for item in bgp_fabric.neighbor %}
interface {{ item }}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
{% endif %}
router bgp {{ bgp_fabric.asn }}
 bgp router-id {{ bgp_fabric.router_id }}
 bgp bestpath as-path multipath-relax
 bgp bestpath compare-routerid
 neighbor fabric peer-group
 neighbor fabric remote-as external
 neighbor fabric description Internal Fabric Network
 neighbor fabric capability extended-nexthop
{% for item in bgp_fabric.neighbor %}
 neighbor {{ item }} interface peer-group fabric
 neighbor {{ item }} bfd
{% endfor %}
 !
 address-family ipv4 unicast
{% for item in bgp_fabric.networks %}
  network {{ item }}
{% endfor %}
 exit-address-family
 !
{% if bgp_fabric.evpn is defined %}
 address-family ipv6 unicast
  neighbor fabric activate
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor fabric activate
{% if bgp_fabric.advertise_vni is defined %}
  advertise-all-vni
{% endif %}
 exit-address-family
{% endif %}
{% endif %}
!
line vty
!
end
