## File managed by Ansible ##

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0
    address {{ mgmt_ip }}/24
    gateway 192.168.100.2

{% for item in leaf_interfaces %}
auto {{ item.port }}
iface {{ item.port }}
    alias {{ item.desc }}
    address {{ item.address }}

{% endfor %}
auto bridge
iface bridge
      bridge-vlan-aware yes
      bridge-stp on
      bridge-vids {{ bridge_vids }}

auto bridge.{{ bridge_vids }}
iface bridge.{{ bridge_vids }}
    address {{ vlan_address }}
