## File managed by Ansible ##

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0
    address {{ mgmt_ip }}/24
    gateway 192.168.100.2

# Peerlink
auto peerlink
iface peerlink
    bond-slaves {{ peerlink_port }}

auto peerlink.{{ peerlink_vlan }}
iface peerlink.{{ peerlink_vlan }}
    address {{ peerlink_address }}
    clagd-peer-ip {{ clagd_peer }}
    clagd-backup-ip {{ clagd_backup }}
    clagd-sys-mac {{ clagd_mac }}

{% for item in leaf_interfaces %}
auto {{ item.clag }}
iface {{ item.clag }}
    alias {{ item.desc }}
    bond-slaves {{ item.port }}
    clag-id {{ item.clagid }}

{% endfor %}

{% for item in leaf_access_interfaces %}
auto {{ item.port }}
iface {{ item.port }}
    alias {{ item.desc }}
    bridge-access {{ item.vlan }}

{% endfor %}

auto bridge
iface bridge
      bridge-vlan-aware yes
      bridge-ports {{ leaf_bridge_ports }}
      bridge-stp on
      bridge-vids {{ bridge_vlans }}
