## File managed by Ansible ##

username cumulus nopassword
log file /var/log/quagga/quagga.log

router bgp {{ bgp_as }}
 bgp router-id {{ bgp_router_id }}
{% for item in bgp_neighbor %}
 neighbor {{ item.neighbor_address }} remote-as {{ item.bgp_remote_as }}
{% endfor %} 
 
 address-family ipv4 unicast
{% for item in bgp_network %}
 network {{ item }}
{% endfor %} 
 exit-address-family
